@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    dim;
}

.custom-link {
  color: #b6d6ff;
  cursor: pointer;
}
.custom-link:hover {
  color: var(--base-content);
  text-decoration: underline;
}
